---
extends:
  - standard
  - standard-preact
  - plugin:import/warnings
  - plugin:import/errors
  - sketch
parserOptions:
  ecmaVersion: 2017
  sourceType: module
  ecmaFeatures:
    experimentalObjectRestSpread: true
    jsx: true
