# build artefacts
Git.sketchplugin/Contents/Sketch
Git.sketchplugin/Contents/Resources/branches.js
Git.sketchplugin/Contents/Resources/preferences.js

# npm
node_modules

# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm
