body {
  font-family: -apple-system;
  background: white;
  padding-top: 20px;
}

.branch {
  opacity: 0.6;
  height: 25px;
  clear: both;
}

.branch.selected {
  opacity: 1;
}

.branch:hover {
  opacity: 1;
}

.name {
  cursor: pointer;
}

.delete {
  float: right;
  cursor: pointer;
}
.delete img {
  width: 15px;
}

.create {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  border: 0;
  border-radius: 0;
  height: 40px;
  background-image: linear-gradient(180deg, #8f779d, #613b75);
  color: white;
  letter-spacing: 0.3px;
  font-size: 13px;
  cursor: pointer;
  z-index: 1;
}

#container {
  margin-bottom: 70px;
}
