body {
  font-family: -apple-system;
  background: white;
  padding-top: 10px;
}

.save {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  border: 0;
  border-radius: 0;
  height: 40px;
  background-image: linear-gradient(180deg, #8f779d, #613b75);
  color: white;
  letter-spacing: 0.3px;
  font-size: 13px;
  cursor: pointer;
  z-index: 1;
}

#container {
  margin-bottom: 70px;
}

h2 {
  margin-bottom: 0;
}

input[type="text"] {
  display: block;
}

.form {
  padding-top: 10px;
}
